body {
    background-color:#022140;
}

header {
    position:relative;
    color:white;
    height:5%;
    padding-left:0px !important;
}

.bodyRow {
    height:100%;
}

.cardRow {
    height:33%;
    width:100%;
    margin:0px;
}

.column {
    height:100%;
}

.content {
    height:80%;
    width:100%;
    padding:0px;
    padding-top:20px;
    background-color:#265077;
    border-radius:8px;
}

.carousel {
    height:80%;
}

.carousel-inner {
    height:100%;
    margin-right:10%;
    margin-left:10%;
    width:80%;
}

.carousel-item {
    height:100%;
    width:100%;
}

.carBtn {
    height:40%;
    width:10%;
    margin-top:18%;
    border-radius:8px;
    background-color:#f4976c;
}

.carousel-control-next, .carousel-control-prev {
    opacity:1;
}

.articleCard {
    height:100%;
    border-radius:8px;
}

.stackBox {
    height:100%;
}

.fullBox {
    height:100%;
    padding-top:20px;
    padding-bottom:20px;
}

.stackView {
    position:relative;
}

.articleGrid {
    height:100%;
    padding:0px;
}

.fullView {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}

.indexUp {
    z-index:1;
}

.indexDown {
 z-index:0;
}

.btnBox {
    width:100%;
}

.btn-group {
    margin-left:auto;
    margin-right:auto;
    width:30%;
    display:inline-block;
}

.btn {
    background-color:#f4976c;
    border:5px solid #f4976c;
}

#main {
    height:100vh;
    padding:5px;
}

#name {
    color:#265077;
}

#newsCarousel {
    margin-top:7%;
}

#fullBtn {

}

#gridBtn {

}