.logo {
    padding: 5px;
    width:90px;
    height:90px;
    border-radius:5px;
}

.navbar-brand {
    font-size: large;
    margin: 0px 15px
}

.navbar {
    padding:0px;
    height:10%;
    background-color:#1e4258;
}

#navInfo {
    height:100%;
    width:30%;
}

#loginDiv {
    height:100%;
    width: 20%;  
    left:100px;
    position:absolute;
    bottom:10%;
}

#navSplit {
    height:100%;
    width:10%;
}

#navSearch {
    height:100%;
    width:60%;
}

