.navbar-brand {
    font-size: large;
    margin: 0px 15px
}

.image {
border-radius: 5px;
height:100%;
}

.navbar {
    padding-top:0px;
    padding-bottom:0px;
    height:10%;
    background-color:#1e4258;
}

#navInfo{
    width:20%;
}

