img {
    border-radius:5px;
}

.navbar-brand {
    font-size: large;
    margin: 0px 15px
}

.navbar {
    padding:0px;
    height:10%;
    background-color:#1e4258;
}

#navInfo {
    height:100%;
    width:30%;
}

