.title{
    display:inline-block;
    width:100%;
    vertical-align:top;
}

.articlesDiv{
    border:none;
    padding-left:0px;
    padding-right:10%;
}

.article{
    margin-top:10px;
    padding:0px;
    border:none;
    min-height:200px;
}

.articleImg{
    float:left;
    height:100%;
    width:30%;
}

.articlesCard{
    border-radius:8px;
    height:100%;
}

.authorDate {
    float:left;
    font-weight:bold;
    vertical-align:top;
    width:70%
}

.card-body{
    padding:0px;
    height:100%;
}