.content {
    height:100%;
    padding:0px;
}

.main {
    height:100%;
    padding:0px;

}

.window {
    height:100vh;
    padding:0px;
}

.artCon {
    height:100%;
    display:inline-block;
}

.topRow {
    height:10%;
}

.botRow {
    height:90%;
}