.content {
    height:100%;
    padding:0px;
}

.main {
    height:100%;
    padding:0px;

}

.window {
    height:100vh;
    padding:0px;
}

.sidebar {
    position:-webkit-fixed;
    position:fixed;
    padding:0px;
    display:flex;
    width:300px;
    height:100%;
}

.artCon {
    height:100%;
    display:inline-block;
    background-color:#022140;
}

.topRow {
    height:10%;
}

.botRow {
    height:90%;
}

.half {
    height:50%;
}