.login-btn {
    position:absolute;
    bottom:5px;
    background-color:rgb(245, 138, 67);
    color: white;
    width:90px;
    margin-left:5px;
}
.login-btn:hover {
    background-color: #256077;
    border-color: magenta;
}

.logIcon {
    margin-right:10%;
    margin-bottom:5%;
}