.carousel {
    height:95%;
    margin-top:2%;
    margin-bottom:2.5%;
}

.carousel-inner {
    height:100%;
    width:80%;
    margin-right:10%;
    margin-left:10%;
}

.carBtn {
    margin-top:30%;
    margin-bottom:30%;
    height:40%;
    width:10%;
}

.carousel-item {
    height:100%;
}
