.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    padding:0px;
    display: flex;
    width:100%;
    height:100%;
}

.catHeader{
    width:100%;
    padding-left:20%;
    background-color:#256077;
    border-bottom:1px solid #494b68;
    color:white;
    text-align: center;
}

.categorySearch {
    list-style-type: none;
    border-bottom:solid 1px #494b68;
    background-color:#256077;
}

.btn-link{
    color:white;
}

.category-icons {
    margin-right: 20px;
}

.general-icon::after {
    content: "<br>"
}

#catList {
    width:100%;
    border-radius:8px;
    border:2px solid #022140;
    background-color:#256077;
}