#catList {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:-2px;
    height: 100%;
    max-width: 200px;
    position: fixed;
    background:linear-gradient(to bottom, #265f75, #3046838f);
}

.catHeader{
    padding-top: 20px;
    padding-left: 5px;
    width:auto;
    background:linear-gradient(to bottom, #1e4258, #265f75);
    border-bottom:1px solid #4e5061;
    color:white;
    text-align: center;

}

.categorySearch {
    margin-left: 15px;
    margin-top: 4px;
    list-style-type: none;
    
}

.categorySearch:hover {
    background-color: #163f50;
    transition: .3s ease-in-out;
}

.category-btn{
    color:white;
}

.category-btn:hover{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.category-icons {
    margin-right: 20px;
}

#timeBar {
    min-height:200px;
    width:100%;
    border-radius:8px;
    border:2px solid #022140;
    background-color:#256077;
}

