.side-Bar {
    position: fixed;
}

.catHeader{
    width:100%;
    background-color:#256077;
    border-bottom:1px solid #494b68;
    color:white;
    text-align: center;

}

.categorySearch {
    list-style-type: none;
    border-bottom:solid 1px #494b68;
    background-color:#256077;
}

.btn-link{
    color:white;
}

.category-icons {
    margin-right: 20px;
}

.general-icon::after {
    content: "<br>"
}

#timeBar {
    min-height:200px;
    width:100%;
    border-radius:8px;
    border:2px solid #022140;
    background-color:#256077;
}

#catList {
    position: fixed;
    width: auto;
    height:100%;
    border-radius:8px;
    border:2px solid #022140;
    background-color:#256077;
}