.leftArrow:hover {
    cursor: pointer;
}

.rightArrow:hover {
    cursor: pointer;
}

.leftArrow {
    position: sticky;
}

.rightArrow {
    position: sticky;
    margin-left: 100px
}

.timeTogglerComponent {
    color: aliceblue;
    position: fixed;
    width: 50%;
    margin: 0 auto;
}

div.toggledTime {
    position: fixed;
    display: inline;
    margin-left: 30px;
    margin-bottom: 10px;
    z-index: 10;
}

div.toggledTime::selection {
    color: none;
    background: none;
}

div.toggledTime::-moz-selection {
    color: none;
    background: none;
}

div#Week {
    margin-left: 32px;
}

div#Month {
    margin-left: 28px;
}

div#Year {
    margin-left: 38px;
}

ul.bottomToggler {
    margin-left: -68px;
}

li.bottomToggleElement::selection {
    color: none;
    background: none;
}

.bottomActive#Week {
    padding-left: 2px;
}

.bottomActive#Month {
    padding-left: 2px;
}

.bottomActive#Month~#Week {
    padding-left: 7px;
}

li.bottomToggleElement::-moz-selection {
    color: none;
    background: none;
}

li.bottomToggleElement {
    position: static;
    display: inline;
    margin-left: 16px;
}

li.bottomToggleElement:hover {
    cursor: pointer;
    color: rgb(250, 195, 158);
}

.bottomActive {
    font-weight: bold;
    color: rgb(245, 138, 67);
}

.bottomActive:hover {
    font-weight: bold;
    color: rgb(245, 138, 67);
}