.btn-success {
    background-color: #494B68;
    border-color: #022140;
}
.btn-success:hover {
    background-color: #256077;
    border-color: white;
}

.searchBar {
    margin-top:28px;
    margin-right:28px;
    margin-left:0px;
    margin-bottom:28px;
    position:absolute;
    right:0px;
    max-width:60%;
}

.searchBtn {
    background-color:rgb(245, 138, 67);
}

.searchBtn:hover {
    background-color:rgb(231, 108, 26);
}

#search-input {
    z-index: 100;
}
