.btn-success {
    background-color: #494B68;
    border-color: #022140;
}
.btn-success:hover {
    background-color: #256077;;;
    border-color: magenta;
}

.searchBar {
    margin-top:28px;
    margin-right:28px;
    margin-left:0px;
    margin-bottom:28px;
    position:absolute;
    right:0px;
    max-width:60%;
}